#container
{
display: flex;
justify-content: space-around;
background-color: azure;
height: 500px;
border: 1px solid blue;
}
.item
{
    height: 500px;
    width: 50%;
    border: 1px solid rgb(255, 0, 149);
}
img
{
    height: 500px; 
    width: 100%;
}
#logo
{
    height: 100px; 
    width: 100%;
    border: 1px solid rgb(0, 208, 255);
   text-decoration-style: solid;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
    
}
iframe
{
    height: 400px; 
    width: 100%;
}
#logo>div
{
    text-decoration: underline;
    color: brown;
    font-size:xx-large;
    border-radius: 10%;
    border: 1px solid rgb(128, 0, 19);
}

/* comment iiii git */